.btn-add {
  position: relative;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fa7121;
  border: none;
  color: #f4f4f4;
}
input {
  width: 293px;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 12px;
  border: 1px solid silver;
}
